<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name="EmployeesDetailId" [value]="service.formData.employeesDetailId" />
    <div class="form-group">
        <label>FirstName</label>
        <input class="form-control form-control-lg" placeholder="First Name" name="empname"
            #empname="ngModel" [(ngModel)]="service.formData.firstName"
            required [class.invalid]="empname.invalid && empname.touched">
    </div>
    <div class="form-group">
        <label>LastName</label>
        <input class="form-control form-control-lg" placeholder="LastNamer" name="emplastname"
            #emplastname="ngModel" [(ngModel)]="service.formData.lastName"
             [class.invalid]="emplastname.invalid && emplastname.touched">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>email</label>
            <input class="form-control form-control-lg" placeholder="email" name="empemail"
                #empemail="ngModel" [(ngModel)]="service.formData.email"
                required  [class.invalid]="empemail.invalid && empemail.touched">
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">SUBMIT</button>
    </div>
</form>