
<div class="jumbotron py-3">
    <h1 class="display-4 text-center">Employees Detail Register</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <app-employees-detail-form></app-employees-detail-form>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>FirstNamer</th>
                    <th>LastName</th>
                    <th>email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ed of service.list">
                    <td (click)="populateForm(ed)">{{ed.firstName}}</td>
                    <td (click)="populateForm(ed)">{{ed.lastName}}</td>
                    <td (click)="populateForm(ed)">{{ed.email}}</td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(ed.employeesDetailId)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>